<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sobre nosotros</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/nosotros.css" rel="stylesheet">
    </head>
    <body>
        <H1>Nuestra empresa</H1>
        <p class="empresa">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis tellus in varius mollis. Mauris accumsan diam leo, non molestie arcu sollicitudin aliquam. Cras laoreet est leo, vel ultricies nunc blandit in. Integer ut vulputate augue. Pellentesque ut turpis orci. Nam interdum dolor nec quam semper, id convallis arcu convallis. Quisque tempus purus sed faucibus porttitor.

            Nam id massa sit amet odio imperdiet faucibus quis nec elit. Pellentesque malesuada pretium sapien, sit amet vulputate dui viverra sed. Vivamus porttitor condimentum mattis. Curabitur sapien risus, vestibulum nec aliquet condimentum, mollis in odio. Etiam nunc odio, viverra a turpis sed, rhoncus elementum dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tincidunt mi vel quam feugiat, eu pretium libero semper. Donec scelerisque quam tincidunt ipsum dictum, id ornare libero fermentum. Quisque risus felis, iaculis nec dapibus vel, vestibulum eu dui. Donec rutrum felis sed dictum facilisis. Nullam maximus consequat est, eget pharetra nunc viverra a. Nulla purus ante, tempus efficitur euismod id, tincidunt sed dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            
            Aliquam posuere lorem vitae mauris molestie laoreet vitae sed nibh. Donec ac pharetra urna. Praesent sollicitudin faucibus posuere. Nam viverra nunc sem. Cras dapibus quis turpis vel efficitur. Aenean eu finibus dolor, sed mollis nulla. Vivamus a magna ornare nulla eleifend pellentesque. Curabitur nec sagittis arcu, vel efficitur ligula. Sed consequat venenatis placerat. In sit amet nulla euismod nisi cursus malesuada. Proin placerat id velit id dapibus.</p>


        <h2>Garantía de calidad</h2>

    <p class="garantia">Nam id massa sit amet odio imperdiet faucibus quis nec elit. Pellentesque malesuada pretium sapien, sit amet vulputate dui viverra sed. Vivamus porttitor condimentum mattis. Curabitur sapien risus, vestibulum nec aliquet condimentum, mollis in odio. Etiam nunc odio, viverra a turpis sed, rhoncus elementum dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tincidunt mi vel quam feugiat, eu pretium libero semper. Donec scelerisque quam tincidunt ipsum dictum, id ornare libero fermentum. Quisque risus felis, iaculis nec dapibus vel, vestibulum eu dui. Donec rutrum felis sed dictum facilisis. Nullam maximus consequat est, eget pharetra nunc viverra a. Nulla purus ante, tempus efficitur euismod id, tincidunt sed dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    
    </body>
</html>